/* VIDEOS LIST */
.list-subtitle {
  font-family:verdana;
}

.list-video {
  display:grid;
  grid-template-columns: 1fr 1fr 9fr;
  font-family:verdana;
}

.list-video-number {
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
  color: grey;
}

.list-video-votes {
  margin-top: 30px;
  text-align: center;
  color: grey;
}

.list-video-body {
  margin-left: 1em;
  margin-top: 20px;
}

.list-video-title {
  font-size: 22px;
  text-decoration:none;
  margin-bottom: 0;
}

.list-video-date {
  margin-bottom: 4px;
}

.list-video-views {
  color:grey;
  font-weight:bold;
  margin-bottom: 1em;
}

.list-video-views > span {
  margin-right: .25em;
}

/* VIEW VIDEO */
.view-video {
  display:grid;
  grid-template-columns: 1fr 8fr;
  font-family:verdana;
}

.view-video-votes {
  text-align: center;
  color: grey;
}

.view-video-body {
  margin-left: 1em;
  margin-top: 20px;
}

.view-video-views {
  color:grey;
  font-weight:bold;
  margin-bottom: 1em;
}

.vote {
  width: 28px;
}

.button-up {
  margin-top: 10px;
  margin-bottom: 4px;
}

.button-down {
  margin-top: 4px;
}

.video-window {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.embedded-media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}